<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sprint 1 Preference">
<listeners>
 
<listener class-name="org.uncommons.reportng.HTMLReporter" />
 
<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
 
</listeners>
  <test name="Preference Test">
  
     <classes>
    
      <class name="SPRINT1_Registration.SignupPreference_DataDrivenTest"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
